.navbuttons a {
    font-family: "Source Sans Pro";
    font-size: 24px;
    color: #f7f7f7;
    text-decoration: none;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
}

.navbuttons a:hover {
    text-decoration: underline;
}

body { 
    margin: 0px; 
    background: #ffffff; 
}

.bg_container {
    height: 450px; 
    overflow: hidden;
    position: relative;
}

.bg { 
    width: 100%; 
    height: 900px; 
}

.content { 
    position: absolute; 
    top: 0px; 
    padding: 30px; 
    color: #ffffff;
    margin-left: auto;
}

.content img {
    width: 75%;
}

.navbuttons div {
    height: 100px;
    background-color: #810a2f;
    color: white;
    display: inline-block;
    width: 50%;
}

.navbuttons div:nth-of-type(2) {
    background-color: #0f8178;
}